.gamePageBody {
    display: grid;
    place-items: center;
    margin-top: 20px;
    background-color: aliceblue
}

.gamePageText{
    justify-content: left;
    width: 100%;
}

.gamePageText h1{
    display: inline-block
}

    .gamePageText button {
        margin-top: 30px;
        float: right;
        color: black;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
        border: 2px solid black;
        padding: 5px;
        background-color: lightgray;
        transition: transform 0.4s ease, transform 0.4s ease;
    }


        .gamePageText button:hover {
            transform: scale(1.1)
        }

        .gamePageBody iframe{
            border: none
        }